openapi: 3.0.3
info:
  title: dgoval
  version: "1.0.0"
  description: "OpenAPI converted from the provided Postman collection."
servers:
  - url: http://{DGOVAL_BASE_URL}
    variables:
      DGOVAL_BASE_URL:
        default: localhost:3000
tags:
  - name: Auth
  - name: Payment
  - name: Companies

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

paths:
  /auth/signup:
    post:
      tags: [Auth]
      summary: auth sign up
      description: Register a new user.
      requestBody:
        required: true
        content:
          application/json:
            example:
              email: caracolasstore@gmail.com
              password: John@weq112
              firstName: Caracolas
              lastName: store
      responses:
        "201":
          description: Created
        "400":
          description: Bad Request
        "409":
          description: Conflict
        "500":
          description: Internal Server Error

  /auth/signin:
    post:
      tags: [Auth]
      summary: signin
      requestBody:
        required: true
        content:
          application/json:
            example:
              email: caracolasstore@gmail.com
              password: John@weq112
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error

  /auth/signout:
    post:
      tags: [Auth]
      summary: signout
      requestBody:
        required: false
        content:
          application/json:
            example:
              email: chidibede@gmail.com
              password: Password@weq112
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: forgot-password
      requestBody:
        required: true
        content:
          application/json:
            example:
              email: caracolasstore@gmail.com
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error

  /auth/reset-password:
    post:
      tags: [Auth]
      summary: reset-password
      requestBody:
        required: true
        content:
          application/json:
            example:
              email: caracolasstore@gmail.com
              newPassword: Password@weq112
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error

  /auth/verify-reset-password:
    post:
      tags: [Auth]
      summary: verify-reset-password
      requestBody:
        required: true
        content:
          application/json:
            example:
              otp: "301806"
              email: caracolasstore@gmail.com
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error

  /auth/verify-otp:
    post:
      tags: [Auth]
      summary: verify otp
      requestBody:
        required: true
        content:
          application/json:
            example:
              email: caracolasstore@gmail.com
              otp: "643577"
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
  /auth/resend-otp:
    post:
      tags: [Auth]
      summary: Resend otp
      requestBody:
        required: true
        content:
          application/json:
            example:
              email: caracolasstore@gmail.com
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error

  /api/payment/plans/select:
    post:
      tags: [Payment]
      summary: select payment plan
      requestBody:
        required: true
        content:
          application/json:
            example:
              planId: 01K97M4YDKY42QY9KYSJ8P183N
              companyId: 01K9AFG1WHKVASTFNDVV8FVG3C
              userId: 01K9AF8KBCWQB424ARNM0KQZD7
              provider: Paystack
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "409":
          description: Conflict
        "500":
          description: Internal Server Error

  /api/payment/confirm:
    post:
      tags: [Payment]
      summary: confirm payment on success
      requestBody:
        required: true
        content:
          application/json:
            example:
              paymentStatus: succeeded
              providerTxId: "6767998765444789765433"
              paymentId: 01K9AFZ3YKWANH0H9C4JKJKS5B
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "409":
          description: Conflict
        "500":
          description: Internal Server Error

  /api/payment/plans:
    get:
      tags: [Payment]
      summary: Fetch payment plans
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server Error

  /api/companies/logo/upload:
    post:
      tags: [Companies]
      summary: upload logo
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [logo]
              properties:
                logo:
                  type: string
                  format: binary
            encoding:
              logo:
                contentType: image/*,application/octet-stream
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "413":
          description: Payload Too Large
        "500":
          description: Internal Server Error

  /api/companies:
    post:
      tags: [Companies]
      summary: create company
      requestBody:
        required: true
        content:
          application/json:
            example:
              logoUrl: https://res.cloudinary.com/marshalcloudinary/image/upload/v1762382502/GTBank_logo.svg_gtgbme.png
              name: Guarantee Trust bank
              category: Public
              industry: Banking
              address: Festac
              userId: 01K9AF8KBCWQB424ARNM0KQZD7
      responses:
        "201":
          description: Created
        "400":
          description: Bad Request
        "409":
          description: Conflict
        "500":
          description: Internal Server Error

    get:
      tags: [Companies]
      summary: list companies for user
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error

  /auth/refresh-token:
    post:
      tags: [Auth]
      summary: refresh token
      parameters:
        - in: header
          name: Cookie
          required: false
          schema:
            type: string
          example: >-
            refreshToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiIwMUs5QUY4S0JDV1FCNDI0QVJOTTBLUVpENyIsImVtYWlsIjoiY2FyYWNvbGFzc3RvcmVAZ21haWwuY29tIiwiZmlyc3ROYW1lIjoiQ2FyYWNvbGFzIiwibGFzdE5hbWUiOiJzdG9yZSIsInJvbGUiOiJhZG1pbiIsImN1cnJlbnRPbmJvYXJkaW5nU2Vzc2lvbiI6ImNvbXBsZXRlZCIsImNvbXBhbnlJZCI6IjAxSzlBRkcxV0hLVkFTVEZORFZWOEZWRzNDIiwicGxhbklkIjoiMDFLOTdNNFlES1k0MlFZOUtZU0o4UDE4M04iLCJ0b2tlblR5cGUiOiJyZWZyZXNoIiwiaWF0IjoxNzYyMzYzNzMxLCJleHAiOjE3NjI5Njg1MzF9.4NUtr11HQkVunZ3f_xGO44UHcWGf1sps00fgGGyoVvw
      requestBody:
        required: false
        content:
          application/json:
            example: {}
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
